@media screen and (min-width: 900px) {
  .main {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .div1 {
    height: 75vh;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 70vw;
    box-shadow: black 0 0 4px 0;
    border-radius: 5px;
    overflow: scroll;
  }
  .div2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input,
  .input:focus {
    outline: none;
    border: 2px solid;
    border-radius: 30px;
    height: 45px;
    width: 60vw;
    padding: 0 10px;
  }
  .btn {
    outline: none;
    border: none;
    padding: 15px;
    margin: 0 5px;
    border-radius: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  .head {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .head p {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
  }
  .p1 {
    margin: 10px 0;
    font-size: 15px;
  }
  .time {
    font-size: 13px;
    font-weight: bold;
    color: rgb(72, 72, 219);
  }
  .div3 {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(247, 247, 255);
    margin: 10px 30px;
    padding: 20px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 900px) and (min-width: 520px) {
  .main {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .div1 {
    height: 75vh;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 90vw;
    box-shadow: black 0 0 4px 0;
    border-radius: 5px;
    overflow: scroll;
  }
  .div2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input,
  .input:focus {
    outline: none;
    border: 2px solid;
    border-radius: 30px;
    height: 45px;
    width: 60vw;
    padding: 0 10px;
  }
  .btn {
    outline: none;
    border: none;
    padding: 15px;
    margin: 0 5px;
    border-radius: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  .head {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .head p {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
  }
  .p1 {
    margin: 10px 0;
    font-size: 15px;
  }
  .time {
    font-size: 13px;
    font-weight: bold;
    color: rgb(72, 72, 219);
  }
  .div3 {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(247, 247, 255);
    margin: 10px 30px;
    padding: 20px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 520px) {
  .main {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .div1 {
    height: 77vh;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 90vw;
    box-shadow: black 0 0 4px 0;
    border-radius: 5px;
    overflow: scroll;
  }
  .div2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input,
  .input:focus {
    outline: none;
    border: 2px solid;
    border-radius: 30px;
    height: 45px;
    width: 60vw;
    padding: 0 10px;
  }
  .btn {
    outline: none;
    border: none;
    padding: 15px;
    margin: 0 5px;
    border-radius: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  .head {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .head p {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
  }
  .p1 {
    margin: 10px 0;
    font-size: 15px;
  }
  .time {
    font-size: 13px;
    font-weight: bold;
    color: rgb(72, 72, 219);
  }
  .div3 {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(247, 247, 255);
    margin: 10px 10px;
    padding: 20px;
    border-radius: 5px;
  }
}
